---
---

<header class="site-header">
  <div class="inner">
    <a href="/" class="logo">Upgrade</a>
    <nav>
      <a href="/blog/">Блог</a>
      <a href="/rss.xml">RSS</a>
    </nav>
  </div>
</header>
